# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# misc
.DS_Store
npm-debug.log

# Need config with credentials because GitHub rate limits unauthenticated requests
config
