.issue {

  // TODO: Different view modes to set uniform height
  height: auto;

  padding: 14px;

  .title {
    font-weight: 800;
  }
  .number {
    font-weight: 300;
  }
  .label {
    border-radius: 4px;
    padding: 1px 3px;
    margin: 0px 6px 0px 0px;
  }
  img {
    border-radius: 2px;

    width: 20px;
    height: 20px;

  }

}
