@import 'variables';

.issue-list-container {
  float: left;
  width: 33%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.issue-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .issue {
    border-bottom: 1px solid $blue2;
    cursor: pointer;
  }

  div {
    margin: 0px 0px 5px 0px;
    &:last-child {
      margin: 0px;
    }
  }
}
