// Colors
$blue1: #21aeec;
$blue-text: $blue1;
$blue2: #1f3142;
$blue3: #062e40;
$black: #000;
$white: #fff;
$gray1: #949494;
$gray2: #0a1216;

// Total height of header (used to push down issue list)
$header-height: 120px;
$issue-list-width: 33%;
